In [35]:
import pandas as pd
import os

In [40]:
egfr_c5mf = "/Users/anb/Desktop/egfr_c5mf.tsv"
egfr_c5bp = "/Users/anb/Desktop/egfr_c5bp.tsv"
egfr_c5cc = "/Users/anb/Desktop/egfr_c5cc.tsv"

egfr_c5mf_df = pd.read_csv(
    egfr_c5mf, comment="#", header=0, sep='\t', low_memory=False
)


egfr_c5bp_df = pd.read_csv(
    egfr_c5bp, comment="#", header=0, sep='\t', low_memory=False
)

egfr_c5cc_df = pd.read_csv(
    egfr_c5cc, comment="#", header=0, sep='\t', low_memory=False
)

In [41]:
egfr_c5mf_df

            ES            PV
0     0.716263  5.218048e-15
1     0.702999  1.809664e-14
2     0.665513  5.183631e-13
3     0.644752  3.073874e-12
4    -0.641292  4.112821e-12
...        ...           ...
1304  0.093426  9.376273e-01
1305  0.088235  9.608626e-01
1306 -0.087082  9.651489e-01
1307 -0.084775  9.727887e-01
1308  0.082468  9.792284e-01

[1309 rows x 2 columns]

In [42]:
egfr_c5bp_df

            ES        PV
0     0.313817  0.000000
1     0.350654  0.000000
2     0.374940  0.000000
3    -0.314858  0.000000
4    -0.416505  0.000000
...        ...       ...
1304  0.040700  0.861273
1305  0.039700  0.880426
1306  0.038655  0.899039
1307  0.037100  0.923828
1308 -0.025047  0.999149

[1309 rows x 2 columns]

In [43]:
egfr_c5cc_df

            ES        PV
0     0.742580  0.000000
1    -0.676488  0.000000
2    -0.759658  0.000000
3     0.682181  0.000000
4     0.634206  0.000000
...        ...       ...
1304 -0.068311  0.978172
1305 -0.067631  0.980268
1306  0.066020  0.984673
1307  0.065447  0.986057
1308 -0.062332  0.992067

[1309 rows x 2 columns]

In [31]:

out_dir = "/Users/anb/Desktop"


df.to_csv(os.path.join(out_dir, "test.tsv"), sep=' ', index=False)